%ol.breadcrumb
  %li.active Categories

#category-list.panel.panel-default
  .panel-heading
    - if current_user.try(:admin?)
      .pull-right
        = link_to glyphicon(:plus), new_category_path, title: 'New category', class: 'btn btn-primary btn-xs'
    %h3.panel-title All categories

  %table.table.table-striped
    %tr
      %th Name
      %th Products
      %th

    - categories.each do |category|
      %tr
        %td= link_to category.name, category
        %td= category.products.count
        %td
          - if current_user.try(:admin?)
            .pull-right
              = link_to glyphicon(:pencil), edit_category_path(category), title: 'Edit', class: 'btn btn-default btn-xs'
              = link_to glyphicon(:remove), category, method: :delete, title: 'Remove', class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' }

    - if categories.empty?
      %tr
        %td{colspan: 3}
          .alert.alert-warning.empty-warning
            There are no categories.

