%ol.breadcrumb
  %li= link_to 'Categories', categories_path
  %li.active= category.name

#category-panel.panel.panel-default
  .panel-heading
    - if signed_in?
      .pull-right
        = link_to glyphicon(:plus), new_category_product_path(category), title: 'New product', class: 'btn btn-primary btn-sm'
        = link_to glyphicon(:pencil), edit_category_path(category), title: 'Edit category', class: 'btn btn-default btn-sm' if current_user.admin?
    %h3.panel-title
      = category.name

  %table.table.table-striped
    %tr
      %th Name
      %th Average rating
      %th Price
      %th

    - products.each do |product|
      %tr
        %td= link_to product.title, [category, product]
        %td
          - if product.average_rating
            = "%.2f" % product.average_rating
          - else
            %span.not-available N/A
        %td= product.price
        %td
          - if signed_in? and (current_user.admin? or current_user == product.user)
            .pull-right
              = link_to glyphicon(:pencil), edit_category_product_path(category, product), class: "btn btn-default btn-xs", title: 'Edit'
              = link_to glyphicon(:remove), [category, product], method: :delete, class: "btn btn-danger btn-xs", title: 'Remove', data: { confirm: 'Are you sure?' }

    - if products.empty?
      %tr
        %td{colspan: 4}
          .alert.alert-warning.empty-warning
            There are no products in this category.

