%p#notice= notice
%p#error= flash[:error]

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

%h3 Reviews
= render 'reviews/form'

= render reviews

- if signed_in? and (product.user == current_user or current_user.admin?)
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', product.category, class: 'btn btn-primary'
