= form_for [category, product, review] do |f|
  - if review.errors.any?
    #error_explanation.panel.panel-danger
      .panel-heading= "#{pluralize(review.errors.count, "error")} prohibited this review from being saved:"
      .panel-body
        - review.errors.full_messages.each do |msg|
          %div= msg

  .col-sm-2
    .form-group
      = f.label :rating, class: 'control-label'
      = f.select :rating, options_for_select([''] + (1..5).to_a), {}, class: 'form-control'
  .col-sm-10
    .form-group
      = f.label :content, class: 'control-label'
      = f.text_area :content, class: 'form-control'

  .col-sm-offset-2.col-sm-10
    .form-group
      = f.submit 'Save', class: 'btn btn-default'

  .clearfix
