.review.media
  = link_to image_tag(review.user.gravatar_url(size: 64), alt: 'User Gravatar', class: 'img-rounded'), review.user, class: 'media-left'

  .media-body
    .header
      .pull-right.rating{title: "#{review.rating} stars"}= review.stars
      %strong.author= link_to review.author, review.user
      %span.timestamp= review.publication_time

    .content.well= review.content

