!!!
%html{ lang: 'en' }
  %head
    %title #{AppConfig.workshops_name}
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}

        %ul.nav.navbar-nav
          %li= link_to 'Browse categories', categories_path

        %ul.nav.navbar-nav.navbar-right
          - if signed_in?
            %li= link_to 'My profile', current_user
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Login', new_user_session_path
            %li= link_to 'Sign up', new_user_registration_path

    .site-container.container
      - if notice
        .row
          .col-lg-12
            .alert.alert-info.alert-dismissable{role: 'alert'}
              %button.close{type: 'button', 'data-dismiss' => 'alert'}
                %span{'aria-hidden' => 'true'} &times;
                %span.sr-only Close
              = notice

      - if flash[:error]
        .row
          .col-lg-12
            .alert.alert-danger.alert-dismissable{role: 'alert'}
              %button.close{type: 'button', 'data-dismiss' => 'alert'}
                %span{'aria-hidden' => 'true'} &times;
                %span.sr-only Close
              = flash[:error]
              
      .row
        .col-lg-12
          = yield

    %footer
      Netguru & Patryk Kalinowski &copy; 2014. Uses
      #{link_to 'Bootstrap', 'http://getbootstrap.com/'},
      #{link_to 'Glyphicons', 'http://glyphicons.com/'},
      #{link_to 'Gravatar', 'https://en.gravatar.com/'}.
